body
{
  background-image: url("../Images/Background/background_image.png");
  background-color: #cccccc;
  background-repeat: repeat;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

article
{
    padding: 0px;
    text-align: center;
    margin: auto;
}

#carousel-size
{
    border: 0px dotted #FFD700;
    padding: 1px;
    width: 900px;
    margin: auto;
    max-width: 100%;
}

.promos
{}


/* Universal Box sizing with inheritance */
html 
{
    box-sizing: border-box;
}

*, *:before, *:after 
{
    box-sizing: inherit;
}

/*
*
{
  box-sizing: border-box;
}
*/

#text-center
{
  text-align: center;
}

#golden-text
{
  color: #FFD700;
}

#saddleBrownText
{
  color: #8B4513;
}

#saddleBrownCenterText
{
  color: #8B4513;
  text-align: center;
}


/*----- Horizontal Navigation Bar -----*/
.Logo
{
    font-family: 'Londrina Shadow', Times, serif;
    font-weight: bold;
    position: relative;
}

#navbarH
{  
  position: relative;
}

.nav-border-right   /*#navbarH li #test*/
{
  border-right: 1px solid #FFD700;
}

#navbarH li a 
{
  display: inline-block;
  color: #333;                      /*#DCDCDC;*/
  padding: 14px 16px;
  text-decoration: none;
  list-style-type: none;
  /*position: relative;*/
  font-weight: bold;
}

#navbarH li a:hover:not(.active) 
{
    background-color: #FFD700;     /*Golden Hover*/
    color: #FF0000;                /* red text on hover */
}

#navbarH .active 
{
  color: #FFFFFF;               /*White active text*/
  background-color: #8B4513;    /*Black active background*/
}

.Logo a:hover:not(.active)
{
  color: gold;                  /*Golden hover non-active Link*/
}
/***** End Horizontal Navigation Bar *****/


/********* Vertical Navigation Bar *********/
aside 
{
    padding: 0px;
    margin: 0px;
    border: 1px solid #8B4513;
    opacity: .9;
    width: auto;
    position: fixed;
    /*position: relative;*/    
    z-index: 1;
}


aside nav ul li a
{
    padding: 0px;
    border-bottom: 1px solid #8B4513;    
    display: block;
    color: #000;
}

aside li a.active
{
    background-color: #8B4513;
    color: #FFF;    
}

aside li a:hover:not(.active) 
{
    background-color: #FFD700;
    color: #FF0000;                  red text on hover 
    font-weight: bold;
}
/***********End Vertical Navigation Bar**********/


/********* Main Body ********/
.main
{
  margin-top: 85px;
  /*border: 2px solid #bbb;*/         /*grey*/
  text-align: center;
}

section div div img
{
  border: 1px solid #8B4513;    /* Saddle Brown border */
}

#notepad                    /*Ivorish background for displaying text*/
{
    border: 3px dotted #FFD700;
    color: #000;
    background-color: #FFF;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 900px;
    max-width: 100%;
    text-align: left;
    opacity: 0.9;
    position: relative;
}

textarea
{
    position: relative;
}

div .shelf
{
  margin-top: -150px;
  margin-left: 250px;
  height: auto;
}

section table
{
    padding; 0px;
    margin-top: 5%;
    margin-left: 20%;
    position: fixed;
    display: table-row;
    opacity: 0.9;
    z-index: 1;
}

#about-table
{
     position: relative;
}

section table
{
    padding: 0px;
}

section table tr td.active
{
    background-color: #8B4513;
    color: #FFF;    
}

section table tr td:hover:not(.active) 
{
    background-color: #FFD700;
    color: #FF0000;                  red text on hover 
    font-weight: bold;
}



/********* End Main Body ********/


/***************** Grid **************/
/*Clear the flow*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*All the columns should be float to the left, and have a padding of 15px*/
[class*="col-"] 
{
  float: left;
  padding: 15px;
}

/*
.menu ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li 
{
  padding: 8px;
  margin-bottom: 7px;
}
*/


/***************** End Grid **************/


/***************** Authentication **************/
/*
#popupbox1
{
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 50px; 
  padding-top: 10px; 
  padding-left: 10px;
  width: 20%; 
  height: 250px; 
  position: absolute; 
  background: #FBFBF0; 
  border: solid #8B4513 2px; 
  z-index: 9; 
  font-family: arial; 
  visibility: hidden; 
}
*/

.popup-container
{
    position: relative;
}

#popupbox1
{
    height: auto;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;    
    margin-left: -110px;
    margin-top: -50px;
    padding: 5px 35px;

    background: #FBFBF0;
    border: 2px solid #8B4513; 
    z-index: 2;
    font-family: arial; 
    visibility: hidden;
}

#popupbox2
{
    height: auto;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;    
    margin-left: -110px;
    margin-top: -50px;
    padding: 5px 35px;

    background: #FBFBF0; 
    border: 2px solid #8B4513; 
    z-index: 2; 
    font-family: arial; 
    visibility: hidden;
}


/*
#popupbox2
{
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 50px; 
  padding-top: 10px; 
  padding-left: 10px;
  width: 20%; 
  height: 310px; 
  position: absolute; 
  background: #FBFBF0; 
  border: solid #8B4513 2px; 
  z-index: 9; 
  font-family: arial; 
  visibility: hidden; 
}
*/

/***************** End Authentication **************/


/***************** Footer **************/
/*.panel-footer
{
  margin-top: 15px;
}*/

footer
{
    width: 100%;
    color: #FFFFFF;
    background-color: #000000;
    opacity: .9;
    position: absolute;
}

hr
{
    background-color: #FFD700;      /* golden border */
}

#map
{
  border: 2px solid #FFD700;          
  height: 170px;
  width: 270px;
  margin: auto;
}
/************** End Footer *************/



